<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Home | <a href="projects">Projects</a> | <a href="contact">Contact</a>

    <br>
    <h1>Jordan Forbes</h1>
    <img src="~/images/me.jpeg" alt="me" />
    <p>Im a full stack web developer and artist</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde amet, culpa officia, earum distinctio mollitia vitae aut hic sunt autem recusandae. Maxime adipisci atque perferendis laboriosam praesentium ex mollitia nam.</p>
</body>
</html>